html {
    background-attachment: fixed;
    background-image: url(https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: 100%;
}
body{
    background: rgba(8, 7, 42, 0.9)
}

h1 {
    font-size: 120px;
    background: -webkit-linear-gradient(0deg,#03001e 0%, #7303c0 3%, #ec38bc 30%, #fdeff9 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
  }
  
.carte {
    width: 40%; 
    height: 600px; 
    border-radius: 40px 40px 0 0;
}

.pad {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

.form-group {
    padding-bottom: 20px;
}

p {
    font-size: 20px;
    color: white;
}

.paddiv {
    padding-left: 300px;
    padding-bottom: 100px;
    padding-top: 100px;
}
textarea {
    resize: none;
    height: 150px;
    margin-bottom: 20px;
  }
