html {
    background-attachment: fixed;
    background-image: url(https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: 100%;
}

body
{
	background-color: rgba(8,7,42,0.9);
	margin:0;
    	padding:0;
}

h1
{
	font-size: 120px;
    	background: -webkit-linear-gradient(0deg,#03001e 0%, #7303c0 3%, #ec38bc 30%, #fdeff9 40%);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    	font-family: 'Poppins', sans-serif;
}

.paddiv {
    padding-left: 300px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.bloc
{
	color: white;
	background: linear-gradient(#231435, #8C0854);
	margin-top: 1%;
	margin-right: 15%;
	margin-left: 15%;
	margin-bottom: 10%;
	border-radius: 15px;
	padding: 10px;
	position: relative;
	border: solid white 2px;
}

#paragraphe
{
	font-family: arial;
	color: #E5E5E5;
	top:  10%;
	left: 43%;
	position: absolute;
}

h4
{
	font-family: arial;
	color: #E5E5E5;
}

.background_green
{
	background-color: #17B26F;
}

li{color:  white;}
h5
{
	font-family: arial;
	color: #E5E5E5;
}

h2
{
	font-family: 'Poppins', sans-serif;
	color: white;
	text-align: center;
}

.marge
{
	margin-left: 2.5%;
}
