body
{
	background-color: #08072A;
	margin:0;
    	padding:0;
}

.bloc
{
	color: white;
	background: linear-gradient(#231435, #8C0854);
	margin-top: 3%;
	margin-right: 15%;
	margin-left: 15%;
	margin-bottom: 3%;
	border-radius: 15px;
	padding: 10px;
	position: relative;
	border: solid white 2px;
}

#paragraphe
{
	font-family: arial;
	color: #E5E5E5;
	top:  10%;
	left: 43%;
	position: absolute;
}

h4
{
	font-family: arial;
	color: #E5E5E5;
}

.background_green
{
	background-color: #17B26F;
}

/*.bloc3
{
	color: black;
	margin-left: 50%;
	background-color: white;
	border-radius: 15px;
	padding: 10px;
	bottom: 10px;
	position: relative;
	border: solid black 3px;
}*/

li{color:  white;}
h5
{
	font-family: arial;
	color: #E5E5E5;
}

h1,h2
{
	font-family: 'Poppins', sans-serif;
	color: white;
	text-align: center;
}

.marge
{
	margin-left: 2.5%;
}
