body {
    background-attachment: fixed;
    background-image: url(./images/background_stars.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
h1 {
    font-size: 120px;
    background: -webkit-linear-gradient(0deg,#03001e 0%, #7303c0 3%, #ec38bc 30%, #fdeff9 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
  }
p {
    font-size: 30px;
    color: white;
}
h2 {
	font-size: 70px;
	color: white;
}
.bouton {
	padding: 100px;
	padding-bottom: 100px;
}
.card-1 {
    border: none;
    border-radius: 10px;
    width: 100%;
    background-color: #fff
}
