.h3{font-family: arial;}
body{
    background-attachment:scroll;
    background-image: url(https://wallpapershome.com/images/pages/pic_h/17861.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -400px;
}
.fond {
   background: rgba(8, 7, 42, 0.9);
   padding-bottom: 135px;
}
img{
    margin:auto;
    padding-top: 50px;
    display:flex;
    height:40%;
    width:40%;
}
.logo{
   padding-top: 290px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    background: rgba(8, 7, 42, 0.9);
 }
 .flex > div{
   margin-bottom: 100px;
 }
 div > a > img{
    margin-top: 10px;
    height:200px;
    width:200px;
    filter: grayscale(100%);
 }
 div > a > img:hover{
    height:230px;
    width:250px;
    filter: grayscale(0%);
 }
