h1{
    color: red;
    font-family: comic sans ms;
    text-align: center;
    border: solid black 2px;
}
p{
    font-size: 23px;
}
img{
    height:25%;
    width:25%;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
