body
{
	background-color: #060521;
}

h1,h2
{
	font-family: sans-serif;
	color: white;
	text-align: center;
}

.premier_bloc
{
	color: white;
	margin-right: 45%;
	background-color: black;
	border-radius: 15px;
	padding: 10px;
	top: 25px;
	position: relative;
	border: solid white 2px;
}
.deuxieme_bloc
{
	color: black;
	margin-left: 50%;
	background-color: white;
	border-radius: 15px;
	padding: 10px;
	bottom: 10px;
	position: relative;
	border: solid black 3px;

}

a
{
	color: white;
	font-size: 25px;
	text-decoration: none;
	bottom:  2%;
	left: 80%;
	position: absolute;
}

img
{
	left: 7%;
	position: relative;
	bottom: 78px;
	border-radius: 25px;
}

.titre_tableau
{
	color: white;
	position: absolute;
	bottom: 480px;
	left: 10%;
	font-size: 25px;
}
