body
{
	background-color: #08072A;
	margin-right: 7%;
	margin-left: 7%;
}

h1,h2
{
	font-family: sans-serif;
	color: white;
	text-align: center;
}

.premier_bloc
{
	color: white;
	margin-right: 45%;
	background-color: black;
	border-radius: 15px;
	padding: 10px;
	top: 25px;
	position: relative;
	border: solid white 2px;
}
.deuxieme_bloc
{
	color: black;
	margin-left: 50%;
	background-color: white;
	border-radius: 15px;
	padding: 10px;
	bottom: 10px;
	position: relative;
	border: solid black 3px;

}

#retour_accueil
{
	color: white;
	font-size: 25px;
	text-decoration: none;
	top:  115%;
	left: 82%;
	position: absolute;
	border-radius: 5px;
	padding: 7px;
}

img
{
	left: 7%;
	position: relative;
	bottom: 78px;
	border-radius: 25px;
}

.titre_tableau
{
	color: white;
	position: absolute;
	bottom: 525px;
	font-size: 25px;
	left: 50px;
}
button
{
	background-color: black;
	color: white;
	border-radius: 5px;
	position: absolute;
	height: 100px;
	width: 280px;
	padding: 10px;
	font-size: 17px;
	font-family: sans-serif;
	left: 70%;
	bottom:  75%;
	
}

table,td
{
	color: white;
	border:  solid black 2px;
	border-collapse: collapse;
	text-align: center;
	padding: 10px;
}
th
{
	background-color: black;
}
td 
{
	background-color: white;
	color: black;
	border:  solid black 2px;
}
table 
{
	top: 450px;
	right: 500px;
	position: absolute;
}
